.glassmorphism {
    background-color: var(--background-glass);
    border: 1px solid var(--stroke-glass);
    padding: .8rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(17, 26, 34, 0.13);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}