#modal-nav {
    margin-top: 3rem;
    ol {
       animation: baunce01 .5s ease ;
       padding: .8rem 3rem;
        background-color: var(--material-red);
       .nav-btn {
          transition: .2s;
            color: var(--text-secondary);
       }
       .nav-btn:hover {
            background-color: var(--text-primary);
       }
    }
}
#modal-nav-2 {
    left: 29.3rem;
    bottom: 4rem;
    ol {
       animation: baunce01 .5s ease ;
       padding: .8rem 1.7rem;
        background-color: var(--material-red);
       .nav-btn {
          transition: .2s;
            color: var(--text-secondary);
       }
       .nav-btn:hover {
            background-color: var(--text-primary);
       }
    }
    .separator {
        width: 100%;
        height: 2px;
        background-color: var(--material-red-2);
    }
}