#modal-nav {
    margin-top: 3rem;
    ol {
       animation: baunce01 .5s ease ;
       padding: .8rem 3rem;
        background-color: var(--material-red);
       .nav-btn {
          transition: .2s;
            color: var(--text-secondary);
       }
       .nav-btn:hover {
            background-color: var(--text-primary);
       }
    }
}
#modal-nav-2 {
    left: 29.3rem;
    bottom: 4rem;
    ol {
       animation: baunce01 .5s ease ;
       padding: .8rem 1.7rem;
        background-color: var(--material-red);
       .nav-btn {
          transition: .2s;
            color: var(--text-secondary);
       }
       .nav-btn:hover {
            background-color: var(--text-primary);
       }
    }
    .separator {
        width: 100%;
        height: 2px;
        background-color: var(--material-red-2);
    }
}
#account {
    background-color: var(--background-glass-2);
    div {
        padding: 1rem;
        background-color: var(--material-gray-2);
        border: 3px solid var(--material-gray);
        margin: 1rem;
    }
    h2 {
        font-weight: bolder;
        font-size: var(--font-default);
        color: var(--text-primary);
    }
    p {
        color: var(--text-secondary);
    }
    input {
        width: 100%;
        color: var(--text-secondary);
        background-color: var(--material-red);
        padding: .5rem;
        border: 2px solid var(--material-red-2);
    }
    button {
        color: var(--text-primary);
        background-color: var(--material-red);
        padding: .5rem;
        border: 2px solid var(--material-red-2);
    }
    fieldset {
        margin: 1rem 0;
        width: 100%;
    }
    form {
        a {
            color: var(--text-tertiary);
            font-weight: bolder;
        }
    }
}