@import url('../global.css');
@import url('../components/nav.css');
@import url('../themes/void.css');
@import url('../animations/landing.css');
@import url('../components/glassmorphism.css');

body {
  background-color: var(--background-main);
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: repeating-linear-gradient(
      to bottom,
      rgba(131, 92, 92, 0.062) 0px,  
      rgba(255, 255, 255, 0.04) 1px,   
      transparent 4px,                
      transparent 7px
  );

  pointer-events: none;   
  z-index: 9999;            
  
  animation: moving-up 22s linear infinite;
}
.section-70 {
    width: 60%;
}

.overlay-flbars {
  padding: 50px;
  font-size: 26px;
}

#papers {
  .paper {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13);
    transition: .2s;
    width: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--material-gray-2);
    border-bottom: 5px solid var(--material-gray);

    h3 {
      font-weight: bolder;
      color: var(--text-primary);
      font-size: var(--font-medium);
    }
    p {
      color: var(--text-secondary);
      font-size: var(--font-default);
    }
    span {
      color: var(--text-primary);
    }
  }
  .paper:hover {
    margin-top: 3px;
    border-bottom: 2px solid var(--material-red);
  }
}