

:root {
    --background-main: #000000;

    --material-black: #000000;
    --material-red: #E63131;
    --material-red-2: #a824249d;
    --material-white: #ffffff;
    --material-gray: #2a2a33;
    --material-gray-2: #141418;
    
    --text-primary: #dfdff1;
    --text-secondary: #2a2a33;
    --text-tertiary: #E63131;
    --text-quaternary: #383844;

    --accent-color: #ff0e0e;
    --brand-color: #fbfbff;

    --background-glass: rgba(8, 8, 8, 0.226);
    --stroke-glass: rgba(48, 48, 48, 0.068);

    --background-cards: #fbfbff;
    --stroke-cards: #111113;

}

.jetbrains-mono {
    font-family: jetbrains-mono, monospace;
}