
@keyframes baunce01 {
     0%,25% {
         padding: .2rem 2rem;
     }
     25%, 55% {
            padding: .2rem 3rem;
     }
     55%, 100% {
         padding: .2rem 2rem;
     }
}
@keyframes baunce02 {
     0%,25% {
         padding: .2rem .2rem;
     }
     25%, 55% {
            padding: .2rem .5rem;
     }
     55%, 100% {
         padding: .2rem .2rem;
     }
}
@keyframes rolling {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-48.5rem);
    }
}
@keyframes rolling-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-48.5rem);
    }
}
@keyframes rolling-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(48.5rem);
    }
}
@keyframes pop-in {
     0%,25% {
         opacity: 0.5;
     }
     25%, 55% {
        opacity: 1;
        transform: scale(1.1);
     }
     55%, 100% {
        transform: scale(1);
        opacity: .8;
     }
}
@keyframes moving-up {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -100rem;
  }
}
@keyframes moving-down {
  from {
    margin-top: 0;
  }
  to {
    
  }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}