@import "tailwindcss";

:root {
    --font-brand: 30rem ;
    --font-extra-large: 10rem;
    --font-large: 8rem;
    --font-medium-large: 5.6rem;
    --font-medium: 2rem;
    --font-default: 1.2rem;
    --font-small: 1rem;
    --font-extra-small: .8rem;
}

@media screen and (max-width: 1868px) {
    :root {
        --font-brand: 20rem;
        --font-extra-large: 7rem;
        --font-large: 4rem;
        --font-medium-large: 2rem;
        --font-medium: 1.3rem;
        --font-default: 1rem;
        --font-small: .8rem;
        --font-extra-small: .6rem;
    } 
}
.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;   
  user-select: none;         
}